@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Audiowide&family=Bungee&family=Carter+One&family=Nunito+Sans&display=swap');    

.main-header-container {
    background-color: black;
    position: relative;
    height: 10vh;
}

.logo {
   position: absolute;
   left: 40%;
   margin: 0;
   font-family: 'Bungee', cursive;
   font-size: 3vw;
   color: red;
   text-decoration: none;
   top: 2vh;

}

.header-options{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2vh;
}

.list-item{
    display: inline-block;
    margin: 1vw;
    color: #838383;
    font-size:1vw;
    font-family: 'Carter One', cursive;


}

.login {
    position: absolute;
    right: 5vw;
    text-decoration: none;
    font-size:1vw;
    font-family: 'Carter One', cursive;
    color: #838383;
    top: 4vh;
}

.username{
    position: absolute;
    right: 13vw;
    margin: 0;
    font-size:1vw;
    font-family: 'Carter One', cursive;
    color: #838383;
    top: 4vh;
    
}

.logout{
    position: absolute;
    right: 5vw;
    top: 4vh;

}

.half-name{
    color: white
}

/* .alignment{
    bottom: 1vw;
} */