.main-footer-container{
    height: 10vh;
    background-color: black
}

.social-buttons a {
  color: white;
  margin-right: 25px;
  display: inline-flex;
  text-decoration: none;
  font-size: 40px;
  width: 100px;
  height: 60px;
  position: relative;
  margin: 0 10px;
  top: 3vh;
  left: 40%;
}


.social-buttons a .social-icons {
  transition: 0.3s ease-in;
}

.social-buttons a:hover .social-icons {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
  color: #ffffff;
}

/* Credits to Zahra for helping me with this */


@media screen and (max-width: 375px) {

.social-buttons a {
  color: white;
  margin-right: 25px;
  display: inline-flex;
  text-decoration: none;
  font-size: 40px;
  width: 3vh;
  height: 5vh;
  position: relative;
  margin: 0 3vh;
  top: 3vh;
  left: 10%;
}
}